input[type = text] {
  background-color: #fcfcfc;
  height: 60px;
  padding-left: 20px;
}

.btn-todo {
  height: 60px;
  background-color: #e9eeff;
  color: #4772fe;
  border: none;
}

.card {
  border: none;
  border-left: 5px solid #0000;
  margin-top: 50px;
}

.badge-primary {
  background-color: #e9eeff;
  color: #4772fe;
}