<div class="row justify-content-center">
  <div class="col-md-4 text-center">
    <h1>TODO CATEGORIES</h1>
    <p class="text-info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quibusdam fugit voluptate.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="" class="form-inline">
      <div class="row">
        <div class="col-md-10 form-group">
        <input type="text" placeholder="Add New Category Here" name="categoryName" class="form-control plaintext drop-shadow">
      </div>
      <button type="submit" class="btn btn-primary col-md-2 btn-top btn-block drop-shadow">Add </button>
      </div>
    </form>
  </div>
</div>

<div class="row categories-list">
  <div class="col-md-3">
    <div class="card drop-shadow">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <div class="badge bg-primary">
              CATEGORY
            </div>
            <div class="float-end cat-tools">
              <small><i class="fa fa-pencil -alt text-success"></i></small>
              <small><i class="fas fa-trash text-danger"></i></small>
            </div>
          </div>
          <div class="todo-content">
            <h3>Category</h3>
            <small class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aspernatur voluptate.</small>
          </div>
          <span class="badge bg-danger">3 - Todos</span>
        </div>
      </div>
    </div>
  </div>
</div>
